@tailwind base;
@tailwind components;
@tailwind utilities;

.width-500px{
  width: 500px;
}

.background-btn {
  background-color: #9191914D;
}

.font-size-2rem {
  font-size: 2rem;
}
.font-size-1-5rem {
  font-size: 1.5rem;
}
.font-size-12px {
  font-size: 12px;
} 

